&nbsp;&nbsp;started following&nbsp;&nbsp;


<% if activity.trackable %>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;<b><%= link_to cl_image_tag(activity.trackable.followable.avatar_url(:thumbnail)), "/users/#{activity.trackable.followable_id}" %>&nbsp;&nbsp;<%= link_to activity.trackable.followable.first_name, "/users/#{activity.trackable.followable_id}" %></b>
<% else %>
  <b>&nbsp;&nbsp;<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;&nbsp;which has since been removed</b>
<% end %>
