<header class="banner">
	<h1>Their are currently: <%= @users.length %> users</h1>
</header>
<br>

<div class="transitions-enabled" id="pets">
	<% @users.each do |user| %>
	    <div class="box panel panel-default">
				<%= link_to cl_image_tag(user.avatar_url(:thumbnail)), "/users/#{user.id}" %>
	      <div class="panel-body">
	      	<strong>Name: </strong><%= user.first_name %><br>
	      </div>
	    </div>
  <% end %>
</div>
<nav data-pagination>
	<%= will_paginate @users %>
</nav>
