<strong><p>
  list of users:
</p></strong>
<ul>
  <% @users.each do |user| %>
    <%= user.first_name %>
    <%= link_to cl_image_tag(user.avatar_url(:thumbnail)), "/users/#{user.id}" %>
    <hr>
  <% end %>
</ul>
