<div class="container-fluid text-center dropy">
  <br>
  <h2>Argos (/ˈɑːrɡɒs, -ɡəs/; Greek: Ἄργος)</h2>
  <br>
  <br>
  <p><span id="dropcap">A</span>rgos is Odysseus' faithful dog in Homer's Odyssey. After ten years fighting in Troy, followed by ten more years struggling to get home to Ithaca, Odysseus finally arrives at his homeland. In his absence, reckless suitors have taken over his house in hopes of marrying his wife Penelope. In order to secretly re-enter his house to ultimately spring a surprise attack on the suitors, Odysseus disguises himself as a beggar, and only his son Telemachus is told of his true identity. As Odysseus approaches his home, he finds Argos lying neglected on a pile of cow manure, infested with lice, old and very tired. This is a sharp contrast to the dog Odysseus left behind; Argos used to be known for his speed and strength and his superior tracking skills. Unlike everyone else, including Eumaeus, a lifelong friend, Argos recognizes Odysseus at once and he has just enough strength to drop his ears and wag his tail but cannot get up to greet his master. Unable to greet his beloved dog, as this would betray who he really was, Odysseus passes by (but not without shedding a tear) and enters his hall, and Argos dies. The simplicity of the relationship between Argos and Odysseus allows their reunion to be immediate and sincere.</p>
  <br>
  <p>The story of Argos embodies the special bond between pets and their owners, here at Argos we want to create a place where users can share their special relationship with their pets with old friends and make new ones too. We also are introducing the Argos Calendar which will aid pet owners in organizing the more tedious aspects of own a pet. From the Argos Team we would like to give you a warm welcome.</p>
  <div class="textsplash">
    <br>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cloud-upload logo-lg"></span>
      <h4>UPLOAD</h4>
      <p class="textsplash">Upload your favorite images</br>to our fast severs.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-lg"></span>
      <h4>LOVE</h4>
      <p class="textsplash">Share the pictures you love</br>with the world!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-calendar logo-lg"></span>
      <h4>CALENDAR</h4>
      <p class="textsplash">Keep all your important dates</br>for you all your pets in one place.</p>
    </div>
    </div>
    <br>
</div>
<br>
<br>
<hr>
<div class="container-fluid text-center">
<div class="card-group">
  <div class="row">
    <div class="card card-inverse col-md-4">
      <img class="card-img frontpageimg" src="<%= ("https://images.unsplash.com/photo-1442605527737-ed62b867591f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=318e24cf487c39871ce534edba2b41b1")  %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Access your images on any device</h4>
        <p class="card-text">Where ever you go Argos is here to</br>deliver your images on any device.</br>android / apple / microsoft</p>
      </div>
    </div>

    <div class="card card-inverse col-md-4">
      <img class="card-img frontpageimg" src="<%= ("https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f70d92d512ba2f6f5412c0b75a62cebf") %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">Let Argos Calendar help</h4>
        <p class="card-text">Argos Calendar can organize</br>all of your important dates</br> for all of your pets.</p>
      </div>
    </div>

    <div class="card card-inverse col-md-4">
      <img class="card-img frontpageimg" src="<%= asset_path( "https://images.unsplash.com/photo-1457473075527-b0db85c08e66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=31a6610f3d4739122735ffa8fbf75b22" ) %>" alt="Card image" width="400" height="300">
      <div class="card-img-overlay">
        <h4 class="card-title">See what all your friends are doing</h4>
        <p class="card-text">Never miss a beat.</br>Check out your Pet Channel</br>to see what you friends are up to</p>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
</div>
