// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
	background: linear-gradient(45deg, rgba(243, 237, 53, 0.52), #d35f30);
	padding: 25px 50px;
	h1 {
		color: white;
		font-weight: normal;
		letter-spacing: 10px;
		font-size: 20px;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	margin: 0;
}

.activity-feed {
	list-style-type: none;
	padding: 0;
	.feed-item {
		position: relative;
		min-height: 60px;
		margin-bottom: 30px;
		border-left: 2px solid #ddd;
    &:last-child { border-color: transparent; }
		&:before {
			content: attr(data-time);
			display: flex;
			width: 100px;
			position: absolute;
			text-align: center;
			justify-content: center;
			align-items: center;
			left: -50px;
			top: -22px;
			font-size: 12px;
			color: #999;
		}
    &::after {
      content: attr(data-content);
      display: flex;
			justify-content: center;
			align-items: center;
      position: absolute;
      top: 0;
      left: -21px;
      width: 40px;
      height: 40px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
      border-radius: 50%;
			color: white;
			background-color: #ddd;
		}
		section {
			background-color: white;
			//width: auto;
			//display: inline-block;
			padding: 10px 15px;
			border-radius: 4px;
			border: 1px solid #f0f0f0;
			&:hover {
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			}
			label {
				display: block;
				// &:after {
				// 	content: "\f067";
				// 	position: absolute;
				// 	right: 20px;
				// 	color: #999;
				// 	font: normal normal normal 14px/1 FontAwesome;
				// 	text-rendering: auto;
				// 	font-size: 20px;
				// 	-webkit-font-smoothing: antialiased;
				// 	-moz-osx-font-smoothing: grayscale;
				// 	transition: all .15s ease-in-out;
				// }
			}
		}
	}
}

input[type="checkbox"] {
	display: none;
	&:checked {
		~ label {
			&:after {
				transform: rotate(45deg);
				color: tomato;
			}
		}
		~ .content {
			max-height: 1000px;
			border-top: 1px solid #f0f0f0;
			padding-top: 10px;
			margin-top: 10px;
			padding: 0 25px;
			transition: max-height .25s ease-in;
		}
	}
}

.content {
	max-height: 0;
	overflow: hidden;
	blockquote {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -25px;
			top: 0;
			height: 100%;
			border-left: 2px solid #fcd000;
		}
	}
}

[data-color=red] { &:after { background-color: #ff3c41 !important; } }
[data-color=blue] { &:after { background-color: #2cb5e8 !important; } }
[data-color=green] { &:after { background-color: #47cf73 !important; } }
[data-color=yellow] { &:after { background-color: #fcd000 !important; } }

@media (min-width: 320px) {
  .activity-feed {
    margin: 50px 0px 50px 3px;
		.feed-item {
			padding-left: 5px;
			&::after {
				display: none;
			}
			section label {
				font-size: 10px;
			}
			section {
				padding: 13px 3px;
			}
			.glyphicon {
				font-size: 13px;
			}
			img {
				height: 40px;
			}
		}
  }
}
@media (min-width: 500px) {
  .activity-feed {
    margin: 50px 25px 50px 60px;
		.feed-item {
			section label {
				font-size: 14px;
			}
			.glyphicon {
				font-size: 22px;
			}
			img {
				height: 50px;
			}
		}
  }
}
@media (min-width: 700px) {
  .activity-feed {
    margin: 50px 40px 50px 50px;
		.feed-item {
			section label {
				font-size: 17px;
			}
			.glyphicon {
				font-size: 26px;
			}
			img {
				height: 90px;
			}
		}
  }
}
@media (min-width: 900px) {
  .activity-feed {
    margin: 50px 20px 50px 100px;
		.feed-item {
			section label {
				font-size: 20px;
			}
			.glyphicon {
				font-size: 30px;
			}
			img {
				height: 100px;
			}
		}
  }
}




[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  color: #777;
  font-size: 100%;
  padding: .5em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #f60;
}
[data-pagination] li.current {
  background: rgba(0,0,0,.1)
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}
