// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
    margin-left: 33%;
    background-color: rgb(210, 180, 140);
    width: 33%;
    margin-bottom: 5px;
    height: 60px;
    padding-top: 5px;
    padding-left: 5%;
    border-radius: 10px;
}
.well {
  background-color: rgb(254, 251, 240);
  font-size: 24px;
}

.centeredtexto {
  text-align: center;
}
