header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #000000;
    background-image: url(https://images.unsplash.com/reserve/UzWklzFdRBSbkRKhEnvc_1-6128.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7640fe4660acee3fa5bb00f8880ae46c);
    background-position: center -75px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 45px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: tan;
    text-shadow: 6px 6px black;
}


@media (min-width: 350px) {
  .honetitle {
    font-size: 60px;
  }
}
@media (min-width: 500px) {
  .honetitle {
    font-size: 84px;
  }
}
@media (min-width: 700px) {
  .honetitle {
    font-size: 120px;
  }
}
@media (min-width: 900px) {
  .honetitle {
    font-size: 150px;
  }
}

.worksans {
  font-family: 'Work Sans', sans-serif;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

.btn {
  background-color: #D2B48C;
}

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#team .img-circle {
  margin-left: 45%;
  padding-top: 35px;
}

.inline {
   display:block;
   margin:auto 21%;
}

body {
  background-color: rgba(224, 187, 86, 0.17);

}

.navbar-brand {
  font-size: 36px;
  font-weight: 100;
}

.navright {
  font-size: 25px;
  font-weight: 100;
}

.fontweightone {
  font-weight: 100;
}

.text-muted {
  color: #212121;
  font-size: 27px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 100;
    color: inherit;
}

.glyphicon {
  font-size: 50px;
}


.textsplash {
  font-size: 20px;
}








*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer, footer, header { position: relative; margin: .5em; }

.leftColumn, .rightColumn, footer, header {  border: 1px solid  #ccc; padding: 1.25em; }

.leftColumn { margin-bottom: .5em; }

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 35.5em; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 33.75em; }
}
