header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #000000;
    background-image: url(https://images.unsplash.com/reserve/UzWklzFdRBSbkRKhEnvc_1-6128.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7640fe4660acee3fa5bb00f8880ae46c);
    background-position: center;
    background-attachment: initial;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 45px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    color: tan;
}



@media (min-width: 320px) {
  .rightColumn {
    h2 {
      font-size: 25px;
      text-align: center;
    }
    img {
      width: 150px;
      height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 17px;
    }
  }
}
@media (min-width: 500px) {
  .rightColumn {
    h2 {
      font-size: 25px;
    }
    img {
      width: 175px;
      height: 175px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 19px;
    }
  }
}
@media (min-width: 700px) {
  .rightColumn {
    h2 {
      font-size: 30px;
    }
    img {
      width: 175px;
      height: 175px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 19px;
    }
  }
}
@media (min-width: 900px) {
  .rightColumn {
    h2 {
      font-size: 30px;
    }
    img {
      width: 200px;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 20px;
    }
  }
}


@media (min-width: 300px) {
  .honetitle {
    font-size: 75px;
    text-shadow: 3px 3px black;
    font-weight: 800;
  }
}
@media (min-width: 500px) {
  .honetitle {
    font-size: 125px;
    text-shadow: 4px 4px black;
    font-weight: 800;
  }
}
@media (min-width: 700px) {
  .honetitle {
    font-size: 130px;
    text-shadow: 5px 6px black;
    font-weight: 900;
  }
}
@media (min-width: 900px) {
  .honetitle {
    font-size: 140px;
    text-shadow: 6px 6px black;
    font-weight: 900;
    padding-top: 275px;
  }
}

.worksans {
  font-family: 'Work Sans', sans-serif;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

.btn {
  background-color: #D2B48C;
}

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#team .img-circle {
  margin-left: 45%;
  padding-top: 35px;
}

.inline {
   display:block;
   margin:auto 21%;
}

body {
  background-color: rgba(224, 187, 86, 0.17);

}

.navbar-brand {
  font-size: 36px;
  font-weight: 100;
}

.navright {
  font-weight: 100;
}
@media (min-width: 320px) {
  .navright {
    font-size: 19px;
  }
}
@media (min-width: 500px) {
  .navright {
    font-size: 20px;
  }
}
@media (min-width: 700px) {
  .navright {
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  .navright {
    font-size: 21px;
  }
}
@media (min-width: 1100px) {
  .navright {
    font-size: 21px;
  }
}


.fontweightone {
  font-weight: 100;
}

.text-muted {
  color: #212121;
  font-size: 27px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 100;
    color: inherit;
}

.glyphicon {
  font-size: 50px;
}


.textsplash {
  font-size: 20px;
}








*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer, footer, header { position: relative; }

.leftColumn, .rightColumn, footer, header {  border: 1px solid  #ccc; padding: 1.25em; }

.leftColumn { margin-bottom: .5em; }

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 35.5em; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 33.75em; }
}








#box-follower {
  margin: 3px;
  width: 125px;
  panel-body {
    font-size: 20px;
  }
}

#box-follower img {
  width: 100%;
  box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888;
}
#box-follower img:hover{
  opacity: 0.6;
}
#follower-user-img {
  border-radius: 50%;
}
