updated pet

<% if activity.trackable %>
  &nbsp;&nbsp;<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;<b><%= link_to cl_image_tag(activity.trackable.pet_avatar_url(:thumbnail)), "/users/#{activity.trackable.user_id}/pets/#{activity.trackable.id}" %>&nbsp;&nbsp;<%= link_to activity.trackable.name, "/users/#{activity.trackable.user_id}/pets/#{activity.trackable.id}" %></b>
<% else %>
  <b>&nbsp;&nbsp;<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;&nbsp;which has since been removed<b>
<% end %>
