posted a picture
<% if activity.trackable %>
  <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;<b><%= link_to cl_image_tag(activity.trackable.photo_url(:thumbnail)), "/pets/#{activity.trackable.pet_id}/pictures/#{activity.trackable.id}" %></b>
<% else %>
  <b>&nbsp;&nbsp;<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;&nbsp;which has since been removed<b>
<% end %>
